{% extends 'base.html.twig' %}

{% block body %}


<section class="jumbotron text-center mt-4">
    <div class="container">
        <h1 class="jumbotron-heading">
            {{ 'site_name'|trans }}
        </h1>
        <p class="lead text-muted">
            {{ 'site_description'|trans }}
        </p>
    </div>
</section>


<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">{{ 'site.latest_jobs'|trans }}</h6>
    {% for task in tasks %}
    <div class="media text-muted pt-3">
        <div class="mr-3">
            {{ task.publishedAt|date("d-m\nY") }}
        </div>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

        </p>
        <div class="d-flex justify-content-between align-items-left w-100">
            <strong class="d-block text-gray-dark">@{{ task.user.username }}</strong>
            <strong class="d-block text-gray-dark"><a href="{{ path('task_show', {'id':task.id}) }}">{{ task.title }}</a></strong>
            {{ task.category.title }} -
            {% if task.location is not null %}
                {{task.location.city}}
            {% else %}
                N/A
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <div class="navigation">
        {{ knp_pagination_render(tasks) }}
        </div>
    </small>
</div>


{% endblock %}