{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('user_task/_form.html.twig', {'button_label': 'site.update'|trans}) }}

    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn">{{ button_label|default('site.save'|trans) }}</button>

        {{ include('user_task/_delete_form.html.twig') }}
    </div>


    <a href="{{ path('user_task_index') }}">{{ 'site.back_to_list'|trans }}</a>
{% endblock %}
