{% extends 'base.html.twig' %}

{% block title %}Your Tasks{% endblock %}

{% block body %}
    <h1>{{ 'site.your_tasks'|trans }}</h1>
    {% if tasks is defined %}
    <table class="table">
        <thead>
            <tr>
{#                <th>{{ 'site.id'|trans }}</th>#}
                <th>{{ 'site.title'|trans }}</th>
                <th>{{ 'site.description'|trans }}</th>
                <th>{{ 'site.level_of_expertise'|trans }}</th>
                <th>{{ 'site.budget'|trans }}</th>
                <th>{{ 'site.duration'|trans }}</th>
                <th>{{ 'site.due_date'|trans }}</th>
                <th>{{ 'site.approved'|trans }}</th>
                <th>{{ 'site.published_at'|trans }}</th>
                <th>{{ 'site.show_applicants'|trans }}</th>
                <th>{{ 'site.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
{#                <td>{{ task.id }}</td>#}
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.levelOfExpertise }}</td>
                <td>{{ task.budget }}</td>
                <td>{{ task.duration }}</td>
                <td>{{ task.dueDate ? task.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.approved ? 'site.yes'|trans : 'site.no'|trans }}</td>
                <td>{{ task.publishedAt ? task.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_task_task_applications', {'id': task.id}) }}">
                        <button type="button" class="btn btn-primary">
                            {{ 'site.applicants'|trans }} <span class="badge badge-light">{{ task.taskApplications | length }}</span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}" target="_blank">{{ 'site.show'|trans }}</a>
                    <a href="{{ path('user_task_edit', {'id': task.id}) }}">{{ 'site.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'site.no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Not tasks defined</p>
    {% endif %}

    <a href="{{ path('task_create') }}">{{ 'site.create_new'|trans }}</a>
{% endblock %}
