{% extends 'base.html.twig' %}

{% block title %}TaskApplication index{% endblock %}

{% block body %}
    <h2>TaskApplication for task <a target="_blank" href="{{ path('task_show', {'id': task.id}) }}">{{ task.title }}</a></h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>HourlyRate</th>
            <th>CoverLetter</th>
            <th>Contacts</th>
        </tr>
        </thead>
        <tbody>
        {% for task_application in taskApplications %}
            <tr>
                <td>{{ task_application.id }}</td>
                <td>{{ task_application.hourlyRate }}</td>
                <td>
                    {{ task_application.coverLetter }}
                </td>
                <td>
                    <p><strong>Email:</strong> {{ task_application.user[0].email }}</p>
                    {% for phone_number in task_application.user[0].phoneNumbers %}
                        <p><strong>Phone number:</strong> {{ phone_number.number }}</p>
                    {% else %}
                        <p>No phone number added</p>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
