{% extends 'base.html.twig' %}

{% block title %}TaskApplication index{% endblock %}

{% block body %}
    <h2>TaskApplication for task <a target="_blank" href="{{ path('task_show', {'id': task.id}) }}">{{ task.title }}</a></h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>HourlyRate</th>
            <th>CoverLetter</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task_application in taskApplications %}
            <tr>
                <td>{{ task_application.id }}</td>
                <td>{{ task_application.hourlyRate }}</td>
                <td>{{ task_application.coverLetter }}</td>
                <td>
                    <a href="#">communicate with user</a>
                     |
                    <a href="#">grant user the job</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
