{% extends 'base.html.twig' %}

{% block body %}


<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h2>
        {{ task.title }}
    </h2>
    <p>
        {{ task.description }}
    </p>
    {% if (is_owner != true) and (taskApplication == null) %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('task_application', {'id':task.id}) }}">
            <button type="button" class="btn btn-primary">Apply</button>
        </a>
    </small>
    {% endif %}

    <section class="row air-card-divider-sm">
        <div class="col-lg-6">
            <h4>Activity on this job</h4>

            <ul class="list-unstyled">
                <li class="justify-xs-md">
        <span class="text-muted primary">
            Proposals:
            <a data-eo-popover-html-unsafe="This range includes relevant proposals, but does not include
                    proposals that are withdrawn, declined, or archived. Please note that all
                    proposals are accessible to clients on their applicants page." data-eo-popover-trigger="mouseenter" class="no-close-lg" eo-popover-id="1799"><span aria-hidden="true" class="text-success glyphicon air-icon-question-circle m-0-left"></span></a>
        </span>
                    Less than 5    </li>


                <li class="justify-xs-md">
                    <span class="primary text-muted">Interviewing:</span>
                    0
                </li>

                <li class="justify-xs-md">
                    <span class="primary text-muted">Invites sent:</span>
                    0
                </li>
                <li class="justify-xs-md">
                    <span class="primary text-muted">Unanswered invites:</span>
                    0
                </li>

            </ul>                    </div>
        <div data-bids="~01cbec8cbbe68b4505" data-enough-applicants-for-upgrade-hint="false" data-bid-range-visible="false" data-is-owner="false" data-is-client="false" data-opening-uid="1086316385227194368" class="col-lg-12"><!----></div>
    </section>
</div>

{% if taskApplication is not null %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Your Application</h6>

    <h2>
        {{ taskApplication.hourlyRate }} {{ task.user.location.currency }} / Sat
    </h2>
    <p>
        {{ taskApplication.coverLetter }}
    </p>

</div>
{% endif %}

{% endblock %}


