{% extends 'base.html.twig' %}

{% block title %}Edit PhoneNumber{% endblock %}

{% block body %}
    <h1>{{ 'site.edit_phone_number'|trans }}</h1>

    {{ include('phone_number/_form.html.twig', {'button_label': 'site.update'|trans}) }}

    <a href="{{ path('phone_number_index') }}">{{ 'site.back_to_list'|trans }}</a>

    {{ include('phone_number/_delete_form.html.twig') }}
{% endblock %}
